* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}


html, body {
  scroll-behavior: smooth;
}


main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding:60px 40px 0 40px;
}

/* begin nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em;
  z-index: 100;
  font-size: 2rem;
}
/* 
.active {
  background-color: white;
  color: black;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
} */

.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 15px;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  position: relative;
}

li {
  list-style-type: none;
  /* margin-right: 0.5em; */
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  background-color: transparent;
}

nav a:link, nav a:visited {
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav a:hover, nav a:active {
  background-color: white;
  color: black;
}

/* nav eind */

/* projecten */

.projectboxrow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* height: 650px; */
  padding: 40px 0;
}

.projectbox {
  /* width: 130px; */
  /* height: 320px; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 200px;
}

.projectbox a {
  text-decoration: none;
}

.projectbox a img {
  width: 200px;
  height: 112px;
}

.linkbox {
  display: flex;
justify-content: center;
}
/* eind projecten */

.img {
  z-index: -1;
}