* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  } 
  
  html, body {
    scroll-behavior: smooth;
  }
  
  main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding:60px 40px 0 40px;
  }
  
  /* home */
  .teksten{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 40px 0;
  }
  
  /* Slideshow container */
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  .slideshow-container {
    position: relative;
    margin-top: -100px;
  }
  
  /* Caption text */
  .text { 
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 5s ease;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  /* einde slide show */ 
  
  /* begin nav */
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.3em;
    z-index: 100;
    font-size: 2rem;
    }
    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
          float: right;
          display: block;
        }
      }
      
      @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
    } 
        
  .active {
    background-color: white;
    color: black;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }
  
  .content__item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px 15px;
    counter-increment: itemcounter;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    position: relative;
  }
  
  li {
    list-style-type: none;
    /* margin-right: 0.5em; */
  }
  
  .link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: #f2f2f2;
    background-color: transparent;
  }
  
  nav a:link, nav a:visited {
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  nav a:hover, nav a:active {
    background-color: white;
    color: black;
  }
  
  /* nav eind */
  
  /* contact */
  .img {
    opacity: 0.9;
  }
  
  
  .fotos {
    width: 30px;
    height: 30px;
  }
  
  .instagram {
    width: 35px;
    height: 35px;
  }
  
  .afb {
    font-size: 15px;
  }
  
  /* end contact */
  
  /* begin CV */
  
  .cv {
    display: flex;
    flex-direction: column;
  }
  
  #cvtext {
  margin: 0px 40px;
  }
  
  /* projecten */
  
  .projectboxrow {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* height: 650px; */
    padding: 40px 0;
  }
  
  .projectbox {
    /* width: 130px; */
    /* height: 320px; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 200px;
  }
  
  .projectbox a {
    text-decoration: none;
  }
  
  .projectbox a img {
    width: 200px;
    height: 112px;
  }
  
  /* .projectbox p {
  
  } */
  
  .linkbox {
      display: flex;
    justify-content: center;
  }