* {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman";
}

html, body {
  scroll-behavior: smooth;
=======
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgba(108, 1, 14, 1); */
>>>>>>> 34270b0 (Add URL for portfolio submodule)
}

body {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 6px solid rgb(4, 0, 255);
  background-color: lightgrey;
=======
  width: 100%;
  height: 100%;
  background-color: rgba(108, 1, 14, 1) !important;
}

html, body {
  scroll-behavior: smooth;
>>>>>>> 34270b0 (Add URL for portfolio submodule)
}

main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding:60px 40px 0 40px;
}

<<<<<<< HEAD
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.name {
    font-size: 20px;
    padding-left: 10px;
  }  

.btn-group button {
  background-color: rgb(5, 247, 255); 
  border: 1px solid rgb(6, 194, 201); 
  color: rgb(0, 0, 0);
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}

.btn-group:after {
  content: " ";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group button:hover {
  background-color: #0019fc;
  color: white;
}

.contact_links {
  display: flex;
  flex-direction: column;
  font-size: 15px;
} 

.teksten {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

a:link, a:visited {
  background-color: white;
  color: blue;
  
=======
.teksten2{
  color: white;
}

/* home */
.teksten{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 40px 0;
}

/* Slideshow container */
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin-top: -100px;
}

/* Caption text */
.text { 
  color: rgba(108, 1, 14, 1);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:rgba(108, 1, 14, 1);
  border-radius: 50%;
  display: inline-block;
  transition: 5s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 10s;
}

/* einde slide show */ 

/* begin nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em;
  z-index: 999;
  font-size: 2rem;
}

.active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 15px;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  position: relative;
}

li {
  list-style-type: none;
  /* margin-right: 0.5em; */
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

nav a:link, nav a:visited {
>>>>>>> 34270b0 (Add URL for portfolio submodule)
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

<<<<<<< HEAD
a:hover, a:active {
  background-color: white;
  color: blue;
}
=======
nav a:hover, nav a:active {
  background-color: white;
  color: black;
}
/* nav eind */


/* contact */
.img {
  opacity: 0.9;
}

>>>>>>> 34270b0 (Add URL for portfolio submodule)

.fotos {
  width: 30px;
  height: 30px;
}

.instagram {
  width: 35px;
  height: 35px;
}

.afb {
  font-size: 15px;
<<<<<<< HEAD
}
=======
}

/* end contact */

/* begin CV */

.cv {
  display: flex;
  flex-direction: column;
  color: white;
}

#cvtext {
margin: 0px 40px;
}

.middle {
display: flex;
align-items: center;
flex-wrap: wrap;
flex-direction: column;
text-align: center;
color: white;
}
/* eind CV */

/* projecten */

.projectboxrow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* height: 650px; */
  padding: 40px 0;
  
}

.projectbox {
  /* width: 130px; */
  /* height: 320px; */
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 200px;
  text-align: center;
}

.projectbox a {
  text-decoration: none;
}

.projectbox a img {
  width: 170px;
  height: 140px;
}

/* eind projecten */

.linkbox {
    display: flex;
  justify-content: center;
}


@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  * {
    width: 100%;
  }

  .text {font-size: 11px}
} 
>>>>>>> 34270b0 (Add URL for portfolio submodule)
