* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 212, 160) !important;
}

html, body {
  scroll-behavior: smooth;
}


main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding:60px 40px 0 40px;
}

/* begin nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em;
  z-index: 100;
  font-size: 2rem;
}

.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 15px;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  position: relative;
}

li {
  list-style-type: none;
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 191);
}

nav a:link, nav a:visited {
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav a:hover, nav a:active {
  background-color: white;
  color: black;
}

.active {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0);
}

/* nav eind */

/* home */

 .projectboxrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}  

.projectboxrow-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.projectbox-home{
  width: 200px;
  height: 300px;
  border: 1px solid rgb(0, 87, 65);
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 200px;
}

.projectbox{
  width: 200px;
  height: 350px;
  border: 1px solid rgb(0, 87, 65);
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 200px;
}

.projectbox a {
  text-decoration: none;
}
/* 
.projectbox a img {
  width: 150px;
  height: 130px;
} */

.card-text {
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.linkbox {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.homepage {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container {
  padding-right: 10%;
  padding-left: 10%;
 }

/* home */

/* forloop */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  } 


.projects { 
  width: 200px;
  height: 300px;
  border: 1px solid black;
  padding: 5px;
}

/* .row {
  column-gap: 20px;
} */

/* eind forloop */








.img {
  z-index: -1;
  width: 150px;
  height: 130px;
}

/* media */

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
