html{
    font-family: sans-serif;
}

h1{
    font-size: 100px;
    display: block;
    position: absolute;
	color: white;
}

.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.buttongroup{
    margin-top: 200px;
}

button{
    position: absolute;
    display: flex;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 30px;
}

.button--yes{
    right: 50%;
}