#gameCanvas{
    box-shadow: 10px 10px 20px;
}

h1{
    text-align: center;
    font-family: comic sans MS;
    /* color: white; */
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: white;
    /* linear-gradient( 0deg, rgb%-rgb%); */
}