* {box-sizing: border-box;
  padding: 0px 0px;
  margin: 0%;
  font-family: "Times New Roman";
  }
  
  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  
  
  html, body {
    scroll-behavior: smooth;
  }
    
  main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding:60px 40px 0 40px;
  }
  
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .name {
    font-size: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    align-items: center;
  }  
  
  .btn-group button { 
    background-color: transparent;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
  }
  
  .btn-group:after {
    content: " ";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  
  .btn-group button:hover {
    background-color: #000002;
    color: white;
  }
  
  .contact_links {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  } 
  
  .teksten {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  
  a:link, a:visited {
    color:white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: white;
    color: black;
  }
  
  .afb {
    font-size: 15px;
  }
  
  
  /* Slideshow container */
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  .slideshow-container {
    position: relative;
    margin-top: -100px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    /* padding: 8px 12px; */
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 17px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0px 0px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1000s;
    animation-name: fade;
    animation-duration: 1000s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .8} 
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 2}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  
  /* einde slide show */ 
  